@font-face {
    font-family: "gloriola";
    src: url("../assets/gloriola/Gloriola-Regular.otf");
    font-family: "impact";
    src: url("../assets/impact/impact.ttf");
}

.sombra {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5)
}

.position-sticky {
    position: sticky !important;
    top: 0;
    z-index: 100;
}

p {
    color: $blanco;
    text-decoration: none;
    list-style-type: none;
    font-family: "gloriola";
    margin: 30px;

}

.comprar {
    text-decoration: none;
    color: $blanco;
    font-size: 20px;
    font-weight: bolder;
    align-content: center;
    align-self: center;
}