$rosaf: rgb(213, 0, 124);
$blanco: white;
$azul: rgb(9, 30, 219);
$gris: rgb(108, 100, 100);
$verde: #aac811;
$rosaClaro: rgb(255, 109, 134);
$rojo: red;
$amarillo: yellow;
$azulOferta: rgb(79, 37, 175);

$gloriola: "gloriola";
$impact: "impact";
$negrita: bolder;